<!DOCTYPE html>

<div class="a">
  <h2>Id</h2>
  <h2>Title</h2>
  <h2>Description</h2>
</div>

<div class="b" *ngIf="task">
  <h2>{{task.id}}</h2>
  <h2>{{task.title}}</h2>
  <h2>{{task.description}}</h2>
</div>