div{
    display: flex;
    justify-content: space-evenly;
}
div.a{
    display: flex;
    justify-content: space-evenly;
    background-color: aliceblues
}
h2{
    text-align: center;
    color: blue
}
div.b{
   background-color:orange;
}
