<!DOCTYPE html>
<div class="container main" *ngIf="task">

  <h2>Edit Task</h2>

  <form  (ngSubmit)="update(task)">

    <div class="form-group">
      <label>Title :</label>
      <input type="text" #inty="ngModel" class="form-control" name="title" [(ngModel)]="task.title"> 
    </div>

    <div class="form-group">
      <label>Description :</label>
      <input type="text" class="form-control" name="description" [(ngModel)]="task.description"> 
    </div>

    <button class="btn" type="submit">Save</button>

  </form>
  
</div>